In [1]:
import pandas as pd

df = pd.read_csv("Levels_Fyi_Salary_Data.csv")
df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
0,6/7/2017 11:33:27,Oracle,L3,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
1,6/10/2017 17:11:29,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
2,6/11/2017 14:53:57,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
3,6/17/2017 0:23:14,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
4,6/20/2017 10:58:51,Microsoft,60,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,9/9/2018 11:52:32,Google,T4,Software Engineer,327000,"Seattle, WA",10.0,1.0,Distributed Systems (Back-End),155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62638,9/13/2018 8:23:32,Microsoft,62,Software Engineer,237000,"Redmond, WA",2.0,2.0,Full Stack,146900.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62639,9/13/2018 14:35:59,MSFT,63,Software Engineer,220000,"Seattle, WA",14.0,12.0,Full Stack,157000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62640,9/16/2018 16:10:35,Salesforce,Lead MTS,Software Engineer,280000,"San Francisco, CA",8.0,4.0,iOS,194688.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62641,1/29/2019 5:12:59,apple,ict3,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,ML / AI,155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [2]:
stateMap = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas',
    'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware',
    'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho',
    'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas',
    'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi',
    'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada',
    'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York',
    'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma',
    'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina',
    'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah',
    'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia',
    'WI': 'Wisconsin', 'WY': 'Wyoming'
}

locations = df["location"]
f = [False] * len(locations)
for i, location in enumerate(df["location"]):
    tokens = location.split(",")
    if len(tokens) == 2 and tokens[-1][-2:] in stateMap:
        f[i] = True

filtered_df = df[f].copy()
filtered_df["state"] = filtered_df.apply(lambda row: stateMap[row.location[-2:]], axis=1)
states = filtered_df["state"].unique()
print(f"Number of states = {len(states)}\n\n{states}")

Number of states = 48

['California' 'Washington' 'New York' 'Maryland' 'Oregon' 'Texas'
 'Massachusetts' 'Louisiana' 'Pennsylvania' 'South Carolina' 'Virginia'
 'Colorado' 'Nebraska' 'Indiana' 'Wisconsin' 'Minnesota' 'Illinois'
 'New Jersey' 'Arizona' 'Ohio' 'North Carolina' 'Florida' 'Georgia'
 'Missouri' 'Rhode Island' 'Utah' 'Michigan' 'Connecticut' 'New Mexico'
 'Arkansas' 'Vermont' 'Iowa' 'Kansas' 'New Hampshire' 'Idaho' 'Tennessee'
 'Delaware' 'Alabama' 'Nevada' 'Kentucky' 'West Virginia' 'Oklahoma'
 'Mississippi' 'Maine' 'Montana' 'North Dakota' 'Hawaii' 'Wyoming']

In [3]:
cols = ['basesalary'] # one or more

Q1 = filtered_df[cols].quantile(0.1)
Q3 = filtered_df[cols].quantile(0.9)
IQR = Q3 - Q1

# Remove outliers in salary
filtered_df = filtered_df[~((filtered_df[cols] < (Q1 - 1.5 * IQR)) |(filtered_df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)]
filtered_df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education,state
0,6/7/2017 11:33:27,Oracle,L3,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000.0,...,0,0,0,0,0,0,0,NaN,NaN,California
1,6/10/2017 17:11:29,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,NaN,NaN,California
2,6/11/2017 14:53:57,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000.0,...,0,0,0,0,0,0,0,NaN,NaN,Washington
3,6/17/2017 0:23:14,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000.0,...,0,0,0,0,0,0,0,NaN,NaN,California
4,6/20/2017 10:58:51,Microsoft,60,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,NaN,NaN,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,9/9/2018 11:52:32,Google,T4,Software Engineer,327000,"Seattle, WA",10.0,1.0,Distributed Systems (Back-End),155000.0,...,0,0,0,0,0,0,0,NaN,NaN,Washington
62638,9/13/2018 8:23:32,Microsoft,62,Software Engineer,237000,"Redmond, WA",2.0,2.0,Full Stack,146900.0,...,0,0,0,0,0,0,0,NaN,NaN,Washington
62639,9/13/2018 14:35:59,MSFT,63,Software Engineer,220000,"Seattle, WA",14.0,12.0,Full Stack,157000.0,...,0,0,0,0,0,0,0,NaN,NaN,Washington
62640,9/16/2018 16:10:35,Salesforce,Lead MTS,Software Engineer,280000,"San Francisco, CA",8.0,4.0,iOS,194688.0,...,0,0,0,0,0,0,0,NaN,NaN,California
62641,1/29/2019 5:12:59,apple,ict3,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,ML / AI,155000.0,...,0,0,0,0,0,0,0,NaN,NaN,California

In [4]:
# Filter for titles with the top ten record counts
highest_titles = list(filtered_df.groupby("title").count().sort_values("company", ascending=False)["company"][:10].keys())
filtered_df = filtered_df[filtered_df["title"].isin(highest_titles)]
filtered_df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education,state
0,6/7/2017 11:33:27,Oracle,L3,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000.0,...,0,0,0,0,0,0,0,NaN,NaN,California
1,6/10/2017 17:11:29,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,NaN,NaN,California
2,6/11/2017 14:53:57,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000.0,...,0,0,0,0,0,0,0,NaN,NaN,Washington
3,6/17/2017 0:23:14,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000.0,...,0,0,0,0,0,0,0,NaN,NaN,California
4,6/20/2017 10:58:51,Microsoft,60,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,NaN,NaN,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,9/9/2018 11:52:32,Google,T4,Software Engineer,327000,"Seattle, WA",10.0,1.0,Distributed Systems (Back-End),155000.0,...,0,0,0,0,0,0,0,NaN,NaN,Washington
62638,9/13/2018 8:23:32,Microsoft,62,Software Engineer,237000,"Redmond, WA",2.0,2.0,Full Stack,146900.0,...,0,0,0,0,0,0,0,NaN,NaN,Washington
62639,9/13/2018 14:35:59,MSFT,63,Software Engineer,220000,"Seattle, WA",14.0,12.0,Full Stack,157000.0,...,0,0,0,0,0,0,0,NaN,NaN,Washington
62640,9/16/2018 16:10:35,Salesforce,Lead MTS,Software Engineer,280000,"San Francisco, CA",8.0,4.0,iOS,194688.0,...,0,0,0,0,0,0,0,NaN,NaN,California
62641,1/29/2019 5:12:59,apple,ict3,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,ML / AI,155000.0,...,0,0,0,0,0,0,0,NaN,NaN,California

In [5]:
columns = [
    "company", "title", "yearsofexperience",
    "yearsatcompany", "basesalary", "state"
]

name_map = {
    "yearsofexperience": "yearsOfExperience",
    "yearsatcompany": "yearsAtCompany",
    "basesalary": "baseSalary",
}

final_df = filtered_df[columns].rename(columns=name_map)
final_df = final_df.dropna()
final_df["company"] = final_df.apply(lambda row: row["company"].title(), axis=1)
final_df

,company,title,yearsOfExperience,yearsAtCompany,baseSalary,state
0,Oracle,Product Manager,1.5,1.5,107000.0,California
1,Ebay,Software Engineer,5.0,3.0,0.0,California
2,Amazon,Product Manager,8.0,0.0,155000.0,Washington
3,Apple,Software Engineering Manager,7.0,5.0,157000.0,California
4,Microsoft,Software Engineer,5.0,3.0,0.0,California
...,...,...,...,...,...,...
62637,Google,Software Engineer,10.0,1.0,155000.0,Washington
62638,Microsoft,Software Engineer,2.0,2.0,146900.0,Washington
62639,Msft,Software Engineer,14.0,12.0,157000.0,Washington
62640,Salesforce,Software Engineer,8.0,4.0,194688.0,California
62641,Apple,Software Engineer,0.0,0.0,155000.0,California

In [6]:
final_df.to_csv("salaries_data.csv")